body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.dark {
    background-color: #232326;
    color: #F3F2F0;
}

.dark .nav-link {
    color: #F3F2F0;
}

.dark .circle circle {
    fill: #D40000;
}

.dark .triangle path {
    fill: #FFF;
}

.light {
    backgrounD-color: #F3F2F0;
    color: #010101;
}

.light .nav-link {
    color: #010101;
}

.light .circle circle {
    fill: #FFF;
}

.light .triangle path {
    fill: #D40000;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.name {
    font-size: 28px;
}

.title-h1 {
    font-size: 74px;
    text-transform: uppercase;
}

.title-h3 {
    font-size: 16px;
    font-weight: 700;
}

.photo {
    margin-bottom: 120px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    padding-left: 16px;
    padding-right: 16px;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-link {
    text-decoration: none;
    color: #F3F2F0;
    font-size: 14px;
}

.nav-link:hover {
    color: #D40000;
}

.nav-info .nav-item {
    position: relative;
}

.nav-info .nav-item::before {
    content: '';
    display: block;
    width: 1px;
    height: 24px;
    background-color: rgba(243, 242, 240, 0.5);
    position: absolute;
    left: 0;
    top: calc(50%-12px);
}

.nav-info .nav-item:first-child::before {
    display: none;
}

.social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    margin-top: 100px;
}

.project {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.project-img {
    width: 16px;
    height: 12px;
    display: block;
    background-image: url(../img/icons/arrow.svg);
    margin-left: 15px;
}

.skill {
    display: flex;
    justify-content: space-between;
}

.skill-item {
    flex: 0 0 24%;
}

.skill .title-h3 {
    text-transform: uppercase;
}

.skill .description {
    line-height: 150%;
}

.circle-main {
    width: 300px;
    height: 300px;
}

.circle-nav {
    width: 106px;
    height: 106px;
}



